<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>MovieFlix | Sign In</title>
</head>
<body>
<div class="container-fluid signin">
    <div class="row">
        <h1 class="col-lg-4" onclick="location.href='index.html';">MovieFlix</h1>
    </div>
    <div class="form">
        <form>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" id="userName" placeholder="User Name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn col-md-0.5 col-md-offset-5 btn-danger" onclick="location.href='#!/titles';">Sign In</button>
        </form>
    </div>
</div>
</body>