<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>MovieFlix</title>
</head>
<body>
<div  class="container-fluid index">
    <div class="row">
        <h1 class="col-lg-4" onclick="location.href='index.html';">MovieFlix</h1>
    </div>
    <div class="title">
        <h2>Welcome to MovieFlix</h2>
        <h4>The Online Movie Store</h4>
        <button class="btn col-md-0.5 col-md-offset-9 btn-danger" onclick="location.href='SignIn.html';">Already a User? Sign In</button>
        <button type="button" class="btn  btn-danger" onclick="location.href='SignUp.html';">Sign Up</button>
    </div>
</div>
</body>
</html>