<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>MovieFlix | Sign Up</title>
</head>
<body>
    <div class="container-fluid signup">
        <div class="row">
            <h1 class="col-lg-4" onclick="location.href='index.html';">MovieFlix</h1>
        </div>
        <div class="form">
            <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" id="userName" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn col-md-0.5 col-md-offset-5 btn-danger" onclick="location.href='https://www.google.com';">Let's go!</button>
            </form>
        </div>
    </div>
</body>
</html>